---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>
    Designed and built with <a href="https://astro.build/" target="_blank" rel="noreferrer">Astro</a>. © {year} André Brandão.
  </p>
</footer>
