---
import { toSitePath } from '../lib/site-paths';

interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<article class="page-teaser">
  <a class="button button-secondary" href={toSitePath(href)}>{label}</a>
</article>
